@{
    ViewBag.Title = "Calendar";
    Layout = "~/Views/Shared/_Main.cshtml";
}
<link href="/Content/fullcalendar.css" rel="stylesheet" type="text/css" />
<link href="/Content/fullcalendar.print.css" rel="stylesheet" type="text/css" />
<script src="/Scripts/fullcalendar.min.js" type="text/javascript"></script>
<script src="/Scripts/gcal.js" type="text/javascript"></script>

<div id="calendar"></div>

<script type="text/javascript">
    $(document).ready(function () {
        // page is now ready, initialize the calendar...

        $('#calendar').fullCalendar({
            events: 'https://www.google.com/calendar/feeds/fnd7tje7lirmpmvg24rilkm5j8%40group.calendar.google.com/public/basic'
        });
    });
</script>